site_name: "BuBu's Notes"
site_url: https://tubuxinnb.github.io/mkdocs-material
theme:
  name: material
  features:
    - navigation.instant
  palette:
    scheme: slate
    primary: blue
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  - javascripts/config.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css